@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      Proxima Nova,
      system-ui,
      sans-serif;
  }
}

.lime-gradation-animation {
  @apply bg-[length:800%_800%] bg-gradient-to-br from-lime-300 to-lime-700 animate-gradation;
}

.slate-gradation-animation {
  @apply bg-[length:800%_800%] bg-gradient-to-br from-slate-100 to-slate-300 animate-gradation;
}
